{cover_enabled, true}.
{erl_opts, [debug_info, fail_on_warning, {i, "/usr/local/otp_src_R14B01/lib/"}]}.
{deps, [
  {riakc, "1.3.*", 	{git, "git://github.com/basho/riak-erlang-client.git", {tag, "1ddd2e8180090d5ed145b60ceb5d1e7b9132c47f"}}},
  {rfc4627_jsonrpc, 	"0.01",  {git, "git@github.com:odo/erlang-rfc4627", 	{tag, "HEAD"}}},
  {ballermann, "1.6.*", 	{git, "git@github.com:odo/ballermann.git", {tag, "ballermann-1.6.0"}}}
]}.
